/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #FFD15C #302F4E;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    background: #302F4E;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: #FFD15C;
    border-radius: 10px;
    border: 3px none #ffffff;
}